<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928550275862-3sg0o05kdlcurs3emrb3s0k4eh74dt2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928550275862-3sg0o05kdlcurs3emrb3s0k4eh74dt2l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928550275862-6vbmqm9gt2vlkr5gg7dt9pn64gl2mncr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAg6M3Bk_SF6u_mn100v5irqSCb-GejqGs</string>
	<key>GCM_SENDER_ID</key>
	<string>928550275862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalFbla0</string>
	<key>PROJECT_ID</key>
	<string>final-fbla</string>
	<key>STORAGE_BUCKET</key>
	<string>final-fbla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928550275862:ios:0d26b5fe04828fa1141e37</string>
</dict>
</plist>